
body {
    background-color:#708090;
}

h1 {
    font-size: 4rem;
    font-weight: 100;
    color: white;
}

#seconds, #tens, #minutes {
    font-size: 3rem;
    color: white;
}

.wrapper {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

button {
    padding: 8px;
    border-radius: 10px;
    font-size: 2.5rem;
    width: 200px;
    margin: 10px;
    color: white;
    background-color: #708090;
    border: solid 1.5px white;
    outline: none;
}

button:hover {
    background-color: white;
    color: #708090;
}